{% extends "base.html" %}
{% block title %}Add Movie{% endblock %}
{% block content %}

    <img src="/static/images/add_your_movie.jpg" alt="add movies picture">
    <div class="add-movie-section">

        <h3>Add movie data</h3>
        <div class="add-movie-form">
           <form id="addMovieForm">
                <label for="movieTitle">Movie Title</label>
                <input type="text" name="title" id="movieTitle" required autocomplete="off">
                <label for="directorName">Director Name</label>
                <input type="text" name="director" id="directorName" required autocomplete="off">
                <label for="movieRating">Movie Rating</label>
                <input type="text" name="score" id="movieRating" required autocomplete="off">
                <input type="submit" value="Submit" id="Submit">
            </form>
                <div id="responseMessage"></div>
                <script src="/static/js/add_movie.js"></script>
        </div>
    </div>

<script src="/static/js/clear.js"></script>

{% endblock %}