<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Movies Database{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <header class="grid">
        <h1>{% block header %}Your Personal Movies Database{% endblock %}</h1>
        <nav>
            <a href="home_page.html">Home</a>
            <a href="add_record_page.html">Add New Movies</a>
            <a href="all_records_page.html">All Movies</a>
        </nav>
    </header>
    <main class="grid">
        {% block content %}{% endblock %}
    </main>
</body>
</html>
