{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<img src="/static/images/movies_database.jpg" alt="homepage picture">
<div class="welcome">
    <h2>Welcome</h2>
    <p>Hi, this is your personal movie tracker. Here you can add, update, and delete all the movies you've watched.
       To proceed, navigate to "Add New Movies" page, or "All Movies" page.</p>
</div>
<h2>Fun Movies Facts</h2>
<div class="card">
    <h3>Terminator 2</h3>
    <p>Schwarzenegger wanted to play both Terminators, but Cameron thought it would be too gimmicky...</p>
</div>
<div class="card">
    <h3>Alien</h3>
    <p>Initially, Alien wasn’t an easy sell, bouncing between producers until Star Wars' success...</p>
</div>
<div class="card">
    <h3>Batman Returns</h3>
    <p>Warner Bros. wanted a sequel, but Burton hesitated until a fresh approach emerged...</p>
</div>
{% endblock %}
