<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="/static/css/home.css">
</head>
<body>

<header class="grid">
    <h1>Your Movies Database</h1>
    <nav>
        <a href="home.html">Home</a>
        <a href="records.html">Add New Movies</a>
        <a href="tables.html">All Movies</a>
    </nav>
</header>
<main class="grid">
    <img src="" alt="">
</main>
</body>
</html>