<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Games List Project Home Page</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
<header class="main-head">Page header</header>
    <div class="image-section">
        <img
                src="/static/controller.svg"
                alt="The MicroBlog Logo"
                class="navbar__logo"
        />

        <article class="content">
        <h1>Welcome to Your Personal Movies Tracker</h1>

        <p>Here you can keep track of your movies that you've watched by storing, updating and deleting records with
            movie name, movie genre, director and comments field where you can store all necessary movie related
            information.
            To can proceed by navigating to your movies table, or straight to movies adding page.
        </p>
        <p>Good luck!</p>
            </article>

        <div class="home-buttons-section">
            <form action="\tables.html">
                <input type="submit" value="Go To Table"/>
            </form>


            <form action="\records.html">
                <input type="submit" value="Add your movies">
            </form>
        </div>

        <div>
            <footer class="homepage-footer">
                <div class="footer__content">
                    <section class="left">
                        <a class="footer__left">Made by Reanold Piatrenka</a>
                    </section>

                </div>
            </footer>
        </div>


</body>
</html>