<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Your Movie</title>
    <link rel="stylesheet" href="/static/css/records.css">
</head>
<body>

<header class="grid">
    <h1>Add Your Movie</h1>
    <nav>
        <a href="home.html">Home</a>
        <a href="records.html">Add New Movies</a>
        <a href="tables.html">All Movies</a>
    </nav>

</header>
<main class="grid">
    <img src="/static/images/add_your_movie.jpg" alt="add movies picture">
    <div class="add-movie-section">


        <h3>Add movie data</h3>
        <div class="add-movie-form">

            <form action="records.html" method="POST">
                <label for="movieTitle">Movie Title</label>
                <input type="text" name="title" id="movieTitle" required="required" value="{{ request.form['title'] }}">
                <label for="directorName">Director Name</label>
                <input type="text" name="director" id="directorName" required="required" value="{{ request.form['director'] }}">
                <label for="movieRating">Movie Rating</label>
                <input type="text" name="score" id="movieRating" required="required" value="{{ request.form['score'] }}">
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>

</main>

</body>
</html>